<div class="menu">
    <div class="content_logo active_content_logo" [class.active_content_logo]="show">
        <p class="color_black logo movil" [class.active_color_logo]="show" style="font-size: 1.5rem;">SAFE-LIFE</p>
    </div>
    <div class="option_content" [class.active_option_content]="show">
        <a href="#InStarticio" class="btn_option_shared color_white_900">Inicio</a>
        <a href="/about" class="btn_option_shared color_white_900">¿Qué es SAFE-LIFE?</a>
        <a href="#coverage" class="btn_option_shared color_white_900">Coberturas</a>
        <a href="/contact" class="btn_option_shared color_white_900">Contactanos</a>
    </div>
</div>
