
<div class="content_header" >
    
    <div class="sub_content_header img_background" style="border-bottom-left-radius: 200px;
    margin-left: 20%;">
        <div class="sub_content_header background_header_content" style="border-bottom-left-radius: 200px;">
            <p class="content_text_header color_white_900" style="font-size: 1.2rem;">
                Qué es SAFE-LIFE<br>
                <b style="font-size: 2rem;">
                    Ahorro y protección en un solo lugar</b> <br>
                    
            </p>
        </div>
    </div>
</div>
<div class="content background_white">
        <div class="item">
            <img class="img_info_item" src="../../assets/fondo/pngwing.com (31).png" >
            <p class="text_montserrat text_info_item" >
                <b style="font-size: 2rem;">Ahorra sin perder protección</b><br><br>
                Optimizamos costos para que pagues hasta 60% menos respecto a otros cotizadores. Obtén las mismas coberturas que en otros lados mientras cuidas tu bolsillo.
            </p>
        </div>
        <div class="item">
            <p class="text_montserrat text_info_item" >
                <b style="font-size: 2rem;">Protege todo lo que te importa</b><br><br>
                Adquiere seguros para tus seres amados y las cosas que valoras sin brincar de una página a otra. Nuestra tienda en línea es tan fácil de usar como tu cotizador de viajes preferido.
            </p>
            <img class="img_info_item" src="../../assets/fondo/pngwing.com (35).png" >
        </div>
        <div class="item">
            <img class="img_info_item" src="../../assets/fondo/pngwing.com (32).png" >
            <p class="text_montserrat text_info_item" >
                <b style="font-size: 2rem;">Elige entre los mejores seguros</b><br><br>
               Nos aliamos para que tú elijas la que más te convenga. En SAFE-LIFE tienes la información necesaria para tomar la mejor decisión.
            </p>
        </div>
</div>
<div class="content background_grey" style="background-image: url(../../assets/fondo/pngwing.com\ \(18\).png);background-size:cover;background-attachment: fixed;background-repeat:no-repeat;background-position:center;">
    <p class="content_text_header title_montserrat color_grey_900" style="text-align: center; font-size: 2rem;margin:16px 10%;">
        La protección dejó de ser un lujo.
    </p>
    <p class="content_text" style="text-align: center; font-size: 1.4rem;">
        ¡Ahora los seguros son accesibles y sencillos para todos!
    </p>
    <div class="content" style="padding: 16px 0px;">
        <button class="btn_black color_white_900">
            Cotiza ahora
        </button>
    </div>
</div>

<app-footer></app-footer>