<div class="content_msj" style="height: 100vh;padding: 0px 0px;">
    <p class="content_text_header color_grey_900" style="font-size: 1.2rem;margin: auto;margin-bottom: 20px;text-align: center;">
        <b style="font-size: 2rem;margin-bottom: 20px;">
            Información enviada</b> <br>
            En breve un asesor se comunicará contigo.
    </p>
        <div style="width: 100%;margin: auto;margin-top: 0px; display: flex;flex-wrap: wrap;">
            <a href="/home" class="btn_black color_white_900">Ir a inicio</a>
        </div>
</div>
