.content_msj{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),url('../../assets/img_header/msj.jpg');
    background-size:cover;
   
    background-repeat:no-repeat;
    background-position:center;
}