<div class="content_header" id="Start">
    <div class="content_btn" >
        <a href="/contact" class="btn_black color_white_900">
            Cotiza ahora
        </a>
    </div>
    <div class="sub_content_header img_background" style="border-bottom-left-radius: 200px;
    margin-left: 20%;">
        <div class="sub_content_header background_header_content" style="border-bottom-left-radius: 200px;">
            <p class="content_text_header color_white_900" style="font-size: 1.2rem;">
                <b style="font-size: 2rem;">
                    Mi familia y yo siempre tranquilos</b> <br>
                Obtén la máxima protección para tu familia mediante un seguro de vida. Nuestros planes personalizados están diseñados para brindar la protección integral que tu familia necesita. 
            </p>
        </div>
    </div>
</div>
<!--Seccion-->
<div class="content" style="background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),url(../../assets/fondo/pngwing.com\ \(14\).png);background-size:contain;background-repeat:no-repeat;background-position: 50% bottom;">
    <p class="content_text_header title_montserrat color_grey_900" style="text-align: center; font-size: 2rem;margin:16px 10%;">
        Garantiza seguridad a quienes dependen de ti
    </p>
    <p class="content_text_header" style="text-align: center; font-size: 1.4rem;margin:auto 10%">
        Tus seres amados podrán avanzar hacia el futuro si llegas a faltar. Ya sean <b>familiares directos u otras personas importantes en tu vida</b>, tu respaldo les permitirá continuar su camino.
    </p>
    <div class="content_cards">
        <div style="margin: auto;">
            <div class="item_card" style="background-color: #f4f4f45b;border: 1px solid #b9b9b9;">
                <div style="margin: auto;margin-bottom: 30px;border-radius: 50%;padding:20px;background:white;"><img src="../../assets/icon/incentivo.png" style="width: 80px;"></div>
                <p class="text_montserrat" style="font-weight: 600;width: 100%;text-align: center;margin: auto;margin-bottom: 16px;">
                    Un respaldo para tus seres amados
                </p>
                <p class="text_montserrat" style="font-weight: 400;width: 100%;text-align: center;margin: auto;">
                    Ayúdalos con la capacidad de resolver sus gastos vitales
                </p>
            </div>
        </div>
        <div style="margin: auto;">
            <div class="item_card" style="background-color: #f4f4f45b;border: 1px solid #b9b9b9;">
                <div style="margin: auto;margin-bottom: 30px;border-radius: 50%;padding:20px;background:white;"><img src="../../assets/icon/hucha.png" style="width: 80px;"></div>
                <p class="text_montserrat" style="font-weight: 600;width: 100%;text-align: center;margin: auto;margin-bottom: 16px;">
                    El mejor complemento a tus ahorros
                </p>
                <p class="text_montserrat" style="font-weight: 400;width: 100%;text-align: center;margin: auto;">
                    Añade a tus ahorros la suma asegurada de tu seguro de vida.
                </p>
            </div>
        </div>
        <div style="margin: auto;">
            <div class="item_card" style="background-color: #f4f4f45b;border: 1px solid #b9b9b9;;">
                <div style="margin: auto;margin-bottom: 30px;border-radius: 50%;padding:20px;background:white;"><img src="../../assets/icon/ambulancia.png" style="width: 80px;"></div>
                <p class="text_montserrat" style="font-weight: 600;width: 100%;text-align: center;margin: auto;margin-bottom: 16px;">
                    Tu apoyo en caso de emergencias
                </p>
                <p class="text_montserrat" style="font-weight: 400;width: 100%;text-align: center;margin: auto;">
                    Como una enfermedad grave, invalidez o pérdida orgánica.
                </p>
            </div>
        </div>
    </div>
</div>
<!--Seccion-->
<div class="content background_grey" style="background-image: url(../../assets/fondo/pngwing.com\ \(18\).png);background-size:cover;background-attachment: fixed;background-repeat:no-repeat;background-position:center;">
    <p class="content_text_header title_montserrat color_grey_900" style="text-align: center; font-size: 2rem;margin:16px 10%;">
        Cotiza tu seguro con un agente SAFE-LIEF
    </p>
    <p class="content_text" style="text-align: center; font-size: 1.4rem;">
        Uno de nuestros agentes te ayudará a encontrar el seguro que te convenga entre las aseguradoras más confiables. ¡Sorpréndete del precio de tu protección!
    </p>
    <div class="content" style="padding: 16px 0px;">
        <a href="/contact" class="btn_black color_white_900">
            Cotiza ahora
        </a>
    </div>
</div>
<!--Seccion-->
<div class="content" style="padding: 50px 0px; height: auto;"id="coverage">
                <p class="text_montserrat color_grey_900" style="text-align: center; font-size: 2rem;width: 100%;">
                    ¡Conoce las coberturas de tu seguro de vida!
                </p>
                <p class="text_montserrat color_grey_900" style="text-align: center; font-size: 1.4rem;width: 100%;">
                    ¿Sabías que tu seguro es más que un respaldo para tus beneficiarios? También <b>es un apoyo financiero para ti y quienes estén contigo</b> si enfrentas un problema de salud grave.
                </p>
               
                <div style="margin: 16px auto;min-width: 300px;max-width: 30%;background-color: #f4f4f480;">
                    <div class="item_card" style="width: 100%;padding: 36px 0px!important;">
                        <p class="text_montserrat color_grey_900" style="font-weight: 400;width: 90%;text-align: left;margin: auto;">
                            <b>Fallecimiento</b> <br>
                            La aseguradora entrega a tus beneficiarios la suma asegurada de tu seguro de vida.
                        </p>
                    </div>
                </div>

                <div style="margin: 16px auto;min-width: 300px;max-width: 30%;background-color: #f4f4f480;">
                    <div class="item_card" style="width: 100%;padding: 36px 0px!important;">
                        <p class="text_montserrat color_grey_900" style="font-weight: 400;width: 90%;text-align: left;margin: auto;">
                            <b>Muerte accidental</b> <br>
                            Si el fallecimiento es por un accidente, la aseguradora entrega una cantidad adicional a la suma asegurada.
                        </p>
                    </div>
                </div>
                <div style="margin: 16px auto;min-width: 300px;max-width: 30%;background-color: #f4f4f480;">
                    <div class="item_card" style="width: 100%;padding: 36px 0px!important;">
                        <p class="text_montserrat color_grey_900" style="font-weight: 400;width: 90%;text-align: left;margin: auto;">
                            <b>Enfermedades graves</b> <br>
                            Cobras la suma asegurada en caso de presentar una de las enfermedades graves de tu póliza.
                        </p>
                    </div>
                </div>
                <div style="margin: 16px auto;min-width: 300px;max-width: 30%;background-color: #f4f4f480;">
                    <div class="item_card" style="width: 100%;padding: 36px 0px!important;">
                        <p class="text_montserrat color_grey_900" style="font-weight: 400;width: 90%;text-align: left;margin: auto;">
                            <b>Invalidez total y permanente</b> <br>
                            La aseguradora te paga la suma asegurada si por invalidez no puedes trabajar ni hacerte cargo de tus gastos.
                        </p>
                    </div>
                </div>
                <div style="margin: 16px auto;min-width: 300px;max-width: 30%;background-color: #f4f4f480;">
                    <div class="item_card" style="width: 100%;padding: 36px 0px!important;">
                        <p class="text_montserrat color_grey_900" style="font-weight: 400;width: 90%;text-align: left;margin: auto;">
                            <b>Pérdidas orgánicas</b> <br>
                            En caso de perder una parte del cuerpo o una función orgánica, recibes la indemnización correspondiente.
                        </p>
                    </div>
                </div>
                <div style="margin: 16px auto;min-width: 300px;max-width: 30%;background-color: #f4f4f480;">
                    <div class="item_card" style="width: 100%;padding: 36px 0px!important;">
                        <p class="text_montserrat color_grey_900" style="font-weight: 400;width: 90%;text-align: left;margin: auto;">
                            <b>Enfermedades terminales</b> <br>
                            La aseguradora te paga un anticipo de la suma asegurada si presentas una de las enfermedades especificadas.
                        </p>
                    </div>
                </div>
    
</div>
<!--Seccion-->
<div class="content" >
    <p class="content_text_header title_montserrat color_grey_900" style="text-align: center; font-size: 2rem;margin:16px 10%;">
        ¿Por qué comprar a través de SAFE-LIFE?
    </p>
    <p class="content_text_header" style="text-align: center; font-size: 1.4rem;margin:auto 10%">
        ¿Sabías que tu seguro es más que un respaldo para tus beneficiarios? <b>También es un apoyo financiero para ti y quienes estén contigo</b> si enfrentas un problema de salud grave.
    </p>
    <div class="content_cards">
        <div style="margin: auto;">
            <div class="item_card" style="background-color: #f4f4f4;padding: 0px 0px;">
                <img src="../../assets/fondo/pngwing.com (23).png" style="height: 166px;margin: auto;margin-bottom: 30px;">
                <p class="text_montserrat" style="font-weight: 600;width: 100%;text-align: center;margin: auto;margin-bottom: 16px;">
                    Contratación fácil y <br> rápida
                </p>
                <p class="text_montserrat" style="font-weight: 400;width: 100%;text-align: center;margin: auto;margin-bottom: 36px;">
                    Aclaramos tus dudas y te ayudamos a contratar.
                </p>
            </div>
        </div>
        <div style="margin: auto;">
            <div class="item_card" style="background-color: #f4f4f4;padding: 0px 0px;">
                <img src="../../assets/fondo/pngwing.com (24).png" style="height: 166px;margin: auto;margin-bottom: 30px;">
                <p class="text_montserrat" style="font-weight: 600;width: 100%;text-align: center;margin: auto;margin-bottom: 16px;">
                    Apoyo a tus <br> beneficiarios
                </p>
                <p class="text_montserrat" style="font-weight: 400;width: 100%;text-align: center;margin: auto;margin-bottom: 36px;">
                    Estamos con ellos al cobrar tu seguro de vida.
                </p>
            </div>
        </div>
        <div style="margin: auto;">
            <div class="item_card" style="background-color: #f4f4f4;padding: 0px 0px;">
                <img src="../../assets/fondo/pngwing.com (27).png" style="height: 166px;margin: auto;margin-bottom: 30px;">
                <p class="text_montserrat" style="font-weight: 600;width: 100%;text-align: center;margin: auto;margin-bottom: 16px;">
                    Acompañamiento en emergencias
                </p>
                <p class="text_montserrat" style="font-weight: 400;width: 100%;text-align: center;margin: auto;margin-bottom: 36px;">
                    Gestionamos tu cobro ante una situación grave.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="content background_white" style="background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),url(../../assets/fondo/pngwing.com\ \(29\).png);background-size:contain;background-attachment: fixed;background-repeat:no-repeat;background-position:center;">
    <p class="content_text_header title_montserrat color_grey_900" style="text-align: center; font-size: 2rem;margin:16px 10%;">
        ¡Cotiza con un agente!
    </p>
    <p class="content_text" style="text-align: center; font-size: 1.4rem;">
        Tu seguro es más que un respaldo para tus beneficiarios, es un apoyo financiero para ti y quienes estén contigo
    </p>
    <div class="content" style="padding: 16px 0px;">
        <a href="/contact" class="btn_black color_white_900">
            Cotiza ahora
        </a>
    </div>
</div>

<app-footer></app-footer>


