<div class="footer background_grey" style="padding-top: 40px;">
    <p class="logo_footer">SAFE-LIFE</p>
    <div class="item_section">
        <p class="btn_option_shared padding_y"><a href="tel:9969634887" class="color_black" style="text-decoration: none;">9969634887</a></p>
        <p class="btn_option_shared padding_y"><a href="mailto:juanagm.188@gmail.com" class="color_black" style="text-decoration: none;">safe_life@gmail.com</a></p>
    </div>
    <div class="item_section">
        <p class="btn_option_shared padding_y"><a href="tel:9969634887" class="color_black" style="text-decoration: none;">Siguenos en:</a></p>
        <div>
            <img src="../../../assets/icon/facebook (1).png" class="ico_social">
            <img src="../../../assets/icon/instagram (1).png" class="ico_social">
        </div>
    </div>
    <div class="bar_content background_black" style="margin-top: 40px;">
        <p class="color_white_900 text_montserrat padding_y" style="width: auto; margin: auto;">© 2023 SAFE-LIFE</p>
    </div>
</div>
